
/*   Styles grouped matching final markup after templating  */


/*   General   */


@font-face {
  font-face-name: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input, select, textarea, button{
  font-family:inherit;
  font-size: inherit;
}

body {
  overflow: hidden;
  font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}


/*   Container   */


.container {
  display: flex;
  height: 100%;
}



/*   Map   */



#map {
  width: 50%;
  min-width: 536px;
  margin: 10px;
  margin-right: 5px;
  border: 2px solid #CCC;
  border-radius: 0.5em;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}
/* Need to set this for the generated div inside the above to render correctly */
#map > * {
  border-radius: 0.5em;
}



/*   Map children  */



.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 2em;
  outline: none;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  font-size: 16px;
  background-color: #fff;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}


/*  route-content  */


.route-content {
  overflow: auto;
  width: 50%;
  min-width: 480px;
  margin-bottom: 10px;
}


/*  route-summary children  */


.route-info-template {
  display: flex;
  justify-content: space-between;
}

.directions-information {
  margin-bottom: 10px;
}

.route-info {
  border-radius: 0.5em;
  border: 2px solid #CCC;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.route-info-template {
  padding: 0 1em;
}

.route-info-template:nth-child(even) {
  background-color: #CCC;
}

.route-radio {
  display: inline-block;
  flex:0 0 auto;
}

.route-radio-input {
  cursor: pointer;
}

.route-description {
  flex: 1 1 auto;
}

.route-duration-distance {
  flex: 0 0 auto;
  margin-left: 0.4em;
}


/*   Streetviews   */



.route-content > div {
  padding-right: 10px;
  margin: 10px;
}

.street-views {
  box-sizing: border-box;
}



/*   Streetviews  children  */



/*   Panarama template  */



.panorama-template {
  margin-bottom: 10px;
}



/*   Description   */



.street-view-description {
  width: 100%;
  min-height: 2em;
  padding: 0.5em;
  border-radius: 0.5em 0.5em 0 0 ;
  box-sizing: border-box;

  background-color: #CCC;
  background-image:
          linear-gradient(
                  #AAA 20%, #CCC
          );
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;
}

.min-max {
  flex: 0 0 auto;
}

.minimise, .maximise {
  display:inline-block;
  margin-right: 0.4em;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.minimise {
  background-color: orange;
}

.maximise {
  background-color: green;
}

/*Google descriptions sometimes contain div's which I want inline */
.description-content div {
  margin-left: 0.4em;
  display:inline-block;
}

.description-content {
  flex: 1 1 auto;
}

.duration-distance-placeholder {
  flex: 0 0 auto;
  margin-left: 0.4em;
}



/*   Streetview   */



.street-view-container {
  overflow: hidden;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);

  /* Required as well as value for > div below */
  border-radius: 0 0 0.5em 0.5em;
}

.close {
  display:none;
}

.open {
  display:block;
}

.rolledup {
  animation-name: rollitup;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.rolleddown {
  animation-name: rollitdown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes rollitup {
  from {
    height: 300px;
  }

  to {
    height: 0;
  }
}

@keyframes rollitdown {
  from {
    height: 0;
  }

  to {
    height: 300px;
  }
}

.street-view {
  width: 100%;
  height: 300px;

  background-color: #AAA;
}

/* Style the generated Streetview div requires this for chrome and safari*/
.street-view > div {
  border-radius: 0 0 0.5em 0.5em;
}


/*   Small screen styles   */


@media all and (max-width: 1024px){

  body {
    overflow: auto;
  }

  .container {
    flex-flow: column;
  }

  #map {
    height: 400px;
    min-height: 400px;
    min-width: inherit;
    width: 95%;
    margin-right: 5%;
  }

  .route-content {
    min-width: inherit;
    width: 95%;
    margin-right: 5%;
    margin-left: 10px;
    padding-right: 0;
    overflow: visible;
  }

  .route-content > div {
    padding-right: 0;
    margin: 0;
  }
}

@media all and (max-width: 570px){
  #map {
    height: 300px;
    min-height: 300px;
  }
  #origin-input,
  #destination-input {
    width: 190px;
  }

  .duration-distance-placeholder {
    flex: 1 1 auto;
  }
}

@media all and (max-width: 450px) {
  #origin-input,
  #destination-input {
    width: 150px;
  }
}

@media all and (max-width: 320px){
  #origin-input,
  #destination-input {
    width: 130px;
  }
}
